{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <nav class="navbar navbar-info bg-white" style="height: 50px;">
        <h4 style="font-size: 1.5rem; color: #f3081f; font-family: 'Fredoka One', cursive; "><i class="fas fa-clipboard-list" style="margin-right: 0.25rem;"></i>LIPE-TODO</h4>
   </nav>
    <div class="formwrapper">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-4">
                    <div class="heading text-center">
                        <h2>Login</h2>
                    </div>
                    <div class="form_sec">
                        <form action="{% url 'login' %}" method="post">
                            {% if messages %}
                            <ul class="messages text-center" style="margin-top: 1rem">
                                {% for message in messages %}
                                <li class="alert-danger alert-dismissible" style=""><p>{{ message }}</p></li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                            {% csrf_token %}
                            <div class="input_sec">
                                <h5 style="font-weight: 700; font-size: 15px; margin-bottom: 5px;">Username</h5>
                                <input type="text" class="form-control" name="username">
                            </div>
                            <div class="input_sec" style="margin-bottom: 0.5rem">
                                <h5 style="font-weight: 700; font-size: 15px; margin-bottom: 5px;">password</h5>
                                <input type="password" class="form-control" name="password">
                            </div>
                            <button type="submit" class="btn btn-danger btn-block">Login</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="myfooter" style="padding: 1rem; margin-top: 1rem">
        <div class="icons text-center">
            Created By: Tee-py
            <i class="fab fa-github"></i>
        </div>
    </footer>
</body>
</html>